[user]
    name = Loic Rodier
    email = loic.rodier@atos.net
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[push]
    default = current
[branch]
  # Deactivated - conflicts during rebase
    autosetuprebase = always
[core]
    excludesfile = /home/pouic/.gitignore_global
[http]
[https]
[http]
[https]
[http]
[https]
[http]
[https]
[http]
	sslVerify = false
[https]
